[submodule "src/omg-dns"]
	path = src/omg-dns
	url = https://github.com/DNS-OARC/omg-dns.git
[submodule "src/pcap-thread"]
	path = src/pcap-thread
	url = https://github.com/DNS-OARC/pcap-thread.git
[submodule "src/sllq"]
	path = src/sllq
	url = https://github.com/DNS-OARC/sllq.git
[submodule "src/parseconf"]
	path = src/parseconf
	url = https://github.com/DNS-OARC/parseconf.git
