Source: drool
Section: net
Priority: optional
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Build-Depends: debhelper (>= 8.0.0), build-essential, automake, autoconf,
 netbase, dnsjit (>= 0.9.4)
Standards-Version: 3.9.4
Homepage: https://www.dns-oarc.net/tools/drool
Vcs-Git: https://github.com/DNS-OARC/drool.git
Vcs-Browser: https://github.com/DNS-OARC/drool

Package: drool
Architecture: all
Depends: ${misc:Depends}
Description: DNS Replay Tool
 drool can replay DNS traffic from packet capture (PCAP) files and send it
 to a specified server, with options such as to manipulate the timing
 between packets, as well as loop packets infinitely or for a set number of
 iterations. This tool's goal is to be able to produce a high amount of UDP
 packets per second and TCP sessions per second on common hardware.
 .
 The purpose can be to simulate Distributed Denial of Service (DDoS)
 attacks on the DNS and measure normal DNS querying. For example, the tool
 could enable you to take a snapshot of a DDoS and be able to replay it
 later to test if new code or hardening techniques are useful, safe &
 effective. Another example is to be able to replay a packet stream for
 a bug that is sequence- and/or timing-related in order to validate the
 efficacy of subsequent bug fixes.
